openapi: 3.0.3
info:
  title: Ordway REST Billing Runs Usages API
  description: RESTful API for bidirectional integration with the Ordway billing and revenue automation platform. Enables managing customers, subscriptions, invoices, payments, usage data, and revenue recognition schedules. Supports usage-based billing, ASC 606 compliant revenue recognition, accounts receivable automation, and SaaS metrics reporting.
  version: v1
  contact:
    name: Ordway Support
    url: https://support.ordwaylabs.com
  termsOfService: https://ordwaylabs.com/
servers:
- url: https://api.ordwaylabs.com/api/v1
  description: Production
- url: https://staging.ordwaylabs.com/api/v1
  description: Staging
security:
- ApiKeyAuth: []
  UserTokenAuth: []
  UserEmailAuth: []
  CompanyAuth: []
tags:
- name: Usages
  description: Manage usage-based billing records
paths:
  /usages:
    get:
      summary: List usage records
      operationId: listUsages
      tags:
      - Usages
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/size'
      - $ref: '#/components/parameters/sort'
      - name: updated_date>
        in: query
        description: Filter usage records updated after this date-time (ISO 8601)
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: List of usage records
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Usage'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      summary: Create a usage record
      operationId: createUsage
      tags:
      - Usages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsageInput'
      responses:
        '201':
          description: Usage record created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Usage'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /usages/{id}:
    get:
      summary: Retrieve a usage record
      operationId: getUsage
      tags:
      - Usages
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Usage record details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Usage'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    id:
      name: id
      in: path
      required: true
      description: Resource identifier
      schema:
        type: string
    size:
      name: size
      in: query
      description: Number of records per page
      schema:
        type: integer
        minimum: 1
        maximum: 500
        default: 50
    page:
      name: page
      in: query
      description: Page number for pagination (1-based)
      schema:
        type: integer
        minimum: 1
        default: 1
    sort:
      name: sort
      in: query
      description: Comma-separated list of fields to sort by (prefix with - for descending)
      schema:
        type: string
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication credentials missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    UnprocessableEntity:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        errors:
          type: object
          additionalProperties: true
    UsageInput:
      type: object
      properties:
        customer_id:
          type: string
        subscription_id:
          type: string
        subscription_line_id:
          type: string
        charge_id:
          type: string
        quantity:
          type: number
        date:
          type: string
          format: date-time
        unit_of_measure:
          type: string
        description:
          type: string
        custom_fields:
          type: object
          additionalProperties: true
    Usage:
      type: object
      required:
      - company_id
      - usage_id
      - subscription_line_id
      properties:
        company_id:
          type: string
        usage_id:
          type: string
        subscription_line_id:
          type: string
        customer_id:
          type: string
          nullable: true
        subscription_id:
          type: string
          nullable: true
        charge_id:
          type: string
          nullable: true
        quantity:
          type: number
          nullable: true
        date:
          type: string
          format: date-time
          nullable: true
        unit_of_measure:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        invoiced:
          type: boolean
          nullable: true
        currency:
          type: string
          nullable: true
        custom_fields:
          type: object
          nullable: true
          additionalProperties: true
        created_by:
          type: string
          nullable: true
        updated_by:
          type: string
          nullable: true
        created_date:
          type: string
          format: date-time
          nullable: true
        updated_date:
          type: string
          format: date-time
          nullable: true
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
      description: Ordway API key
    UserTokenAuth:
      type: apiKey
      in: header
      name: X-User-Token
      description: Ordway user authentication token
    UserEmailAuth:
      type: apiKey
      in: header
      name: X-User-Email
      description: Ordway user email address
    CompanyAuth:
      type: apiKey
      in: header
      name: X-User-Company
      description: Ordway company identifier
externalDocs:
  description: Ordway API Documentation
  url: https://ordwaylabs.stoplight.io/docs/ordway/ZG9jOjQ4OTgxNg-overview
