openapi: 3.2.0
info:
  title: Ordway REST Debit Memos API
  description: RESTful API for bidirectional integration with the Ordway billing and revenue automation platform. Enables managing customers, subscriptions, invoices, payments, usage data, and revenue recognition schedules. Supports usage-based billing, ASC 606 compliant revenue recognition, accounts receivable automation, and SaaS metrics reporting.
  version: v1
  contact:
    name: Ordway Support
    url: https://support.ordwaylabs.com
  termsOfService: https://ordwaylabs.com/
servers:
- url: https://api.ordwaylabs.com/api/v1
  description: Production
- url: https://staging.ordwaylabs.com/api/v1
  description: Staging
security:
- ApiKeyAuth: []
  UserTokenAuth: []
  UserEmailAuth: []
  CompanyAuth: []
tags:
- name: Debit Memos
  description: Manage debit memos
paths:
  /debit_memos:
    get:
      summary: List debit memos
      operationId: listDebitMemos
      tags:
      - Debit Memos
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/size'
      - $ref: '#/components/parameters/sort'
      responses:
        '200':
          description: List of debit memos
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DebitMemo'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /debit_memos/{id}:
    get:
      summary: Retrieve a debit memo
      operationId: getDebitMemo
      tags:
      - Debit Memos
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Debit memo details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DebitMemo'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Authentication credentials missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        errors:
          type: object
          additionalProperties: true
    DebitMemo:
      type: object
      required:
      - company_id
      - debit_memo_id
      properties:
        company_id:
          type: string
        debit_memo_id:
          type: string
        customer_id:
          type: string
        status:
          type:
          - string
          - 'null'
        debit_date:
          type:
          - string
          - 'null'
          format: date
        debit_amount:
          type:
          - number
          - 'null'
        balance:
          type:
          - number
          - 'null'
        paid_amount:
          type:
          - number
          - 'null'
        notes:
          type:
          - string
          - 'null'
        currency:
          type:
          - string
          - 'null'
        debit_tax:
          type:
          - number
          - 'null'
        subtotal:
          type:
          - number
          - 'null'
        debit_pdf_url:
          type:
          - string
          - 'null'
          format: uri
        custom_fields:
          type:
          - object
          - 'null'
          additionalProperties: true
        created_by:
          type:
          - string
          - 'null'
        updated_by:
          type:
          - string
          - 'null'
        created_date:
          type:
          - string
          - 'null'
          format: date-time
        updated_date:
          type:
          - string
          - 'null'
          format: date-time
  parameters:
    page:
      name: page
      in: query
      description: Page number for pagination (1-based)
      schema:
        type: integer
        minimum: 1
        default: 1
    id:
      name: id
      in: path
      required: true
      description: Resource identifier
      schema:
        type: string
    sort:
      name: sort
      in: query
      description: Comma-separated list of fields to sort by (prefix with - for descending)
      schema:
        type: string
    size:
      name: size
      in: query
      description: Number of records per page
      schema:
        type: integer
        minimum: 1
        maximum: 500
        default: 50
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
      description: Ordway API key
    UserTokenAuth:
      type: apiKey
      in: header
      name: X-User-Token
      description: Ordway user authentication token
    UserEmailAuth:
      type: apiKey
      in: header
      name: X-User-Email
      description: Ordway user email address
    CompanyAuth:
      type: apiKey
      in: header
      name: X-User-Company
      description: Ordway company identifier
externalDocs:
  description: Ordway API Documentation
  url: https://ordwaylabs.stoplight.io/docs/ordway/ZG9jOjQ4OTgxNg-overview
